/* Estilos Gerais do Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ebee; /* Cor de fundo mais suave */
    color: #444; /* Cor de texto mais escura */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilos para o Conteúdo Principal */
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos do Cabeçalho */
header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #007bff; /* Borda da cor principal */
    object-fit: cover;
}

header h1 {
    margin: 10px 0;
    font-size: 2.8em;
    color: #222;
}

header p {
    color: #666;
    font-style: italic;
}

/* Estilos para as Seções */
section {
    padding: 20px 0;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Estilos para a Lista de Habilidades e Rodapé */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f0f8ff;
    margin-bottom: 8px;
    padding: 10px;
    border-left: 5px solid #007bff;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding-top: 20px;
    color: #888;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3;
}